.display {
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

.front-page-wrapper {
  height: 850px;
  position: relative;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  background-size: cover;

  video {
    width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
  }
  :after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(65, 65, 65, 0.35);
    z-index: 99;
  }
}

.search-container {
  top: 25%;
  position: relative;
  z-index: 2;
  width: 32%;
  margin-left: auto;
  margin-right: auto;

  .heading {
    font-size: xx-large;
    color: #00b1c6;
    text-align: center;
    margin-bottom: 2%;
    padding: 2%;
  }

  .front-page-tabs {
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
      display: inline-block;
      border: 2px solid #ffffff;
      border-radius: 5px;
      width: 100%;

      li {
        line-height: 50px;
        height: 50px;
        font-size: 22px;
        position: relative;
        width: 50%;
        display: inline-block;

        a {
          color: #ffffff;
          text-decoration: none;
          cursor: pointer;
        }
      }
      li.active {
        background-color: #009dae8e;
      }
      li.active:after {
        content: "";
        border-radius: 0;
        bottom: -19px;
        background: 0 0;
        border-color: transparent transparent #ffffff;
        border-style: solid;
        border-width: 0 10px 10px;
        display: inline-block;
        margin-bottom: -1px;
        margin-left: -5px;
        top: auto;
        position: absolute;
        left: 48%;
      }
    }
  }
}

.search-form {
  width: 100%;
  margin-top: 3%;

  .input-wrapper {
    position: relative;
    width: 100%;

    .search-input {
      padding: 17px 120px 19px 20px;
      font-size: 15px;
      width: 100%;
      border-radius: 5px;
      border-color: 2px solid #000000;
    }
  }
}

.search-btn-container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  margin-left: 78%;

  .search-button {
    margin-top: 7px;
    width: 102px;
    height: 44px;
    font-size: 18px;
    background: #009dae8e;
    color: #ffffff;
    border-radius: 5px;
    border-width: 0;

    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
}
