.aboutUS {
  background-image: url("https://media.gettyimages.com/photos/garden-and-home-blurry-background-picture-id926996662?b=1&k=6&m=926996662&s=612x612&w=0&h=Mu6tUcAcMLPqyIs2CdB44v_lH4EW_nwXuTd11lMk1kY=");
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-repeat: no-repeat;
}
