.homeLogo {
  width: 10%;
}

.header-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-bottom: 1px solid #d1d1d5;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.4);

  header {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    margin: 0 auto;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      span {
        margin-top: 6px;
        color: black;
        letter-spacing: 2px;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    .left-nav {
      display: flex;
      justify-content: space-between;

      a {
        color: black;
        text-decoration: none;
        padding: 10px;
        font-size: medium;

        &:hover {
          font-weight: bold;
          cursor: pointer;
          color: #c1dbcc;
        }
      }
    }

    .right-nav {
      display: flex;
      justify-content: space-between;

      a {
        color: black;
        text-decoration: none;
        padding: 10px;
        font-size: medium;

        &:hover {
          font-weight: bold;
          cursor: pointer;
          color: #c1dbcc;
        }
      }
    }
  }
}
