.border-div{
    border : 1px solid black;
    padding-top : 20px;
    padding-bottom : 20px;
    margin-top : 20px;
    margin-bottom : 20px;
}

.bold {
    font-weight: bolder;
}
.buttonClass
{
    border: none;
}
